.bill-table table {
  width: 95%;
  border-collapse: collapse;
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(193, 193, 193, 0.614) 0px 2px 13px;
}

.bill-table table .inner-row:nth-child(even) {
  background-color: transparent;
}

.bill-table table th {
  text-align: left;
  background-color: rgb(119, 119, 119);
  padding: 10px;
  color: white;
}

.bill-table table tr {
  position: relative;
}

.bill-table table .inner-row td {
  height: 28px;
  padding: 10px;
  font-size: 16px;
  width: 8%;
}

.edit-btn {
  border: 0;
  background-color: rgb(50, 50, 50);
  color: white;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}

.popup-layer-2 input[type='submit']:hover,
.edit-btn:hover,
.edit-btn-2:hover,
.edit-btn-3:hover {
  background-color: white;
  cursor: pointer;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.edit-btn-3 {
  border: 0;
  background-color: rgb(50, 50, 50);
  color: white;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  position: absolute;
  top: 22%;
}

.edit-btn-2 {
  border: 0;
  background-color: rgb(50, 50, 50);
  color: white;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-left: 80%;
}

.unused-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(129, 129, 129, 0.419);
}

@media screen and (max-width: 900px) {
  .bill-table table {
    overflow-x: scroll !important;
  }

  .bill-table table .inner-row td {
    font-size: 8px;
    height: 28px;
    padding: 5px;
    width: 5%;
  }

  .bill-table table th {
    font-size: 8px;
  }

  .edit-btn {
    height: 20px;
    width: 50px;
    font-size: 10px;
  }

  .edit-btn-3 {
    height: 20px;
    width: 70px;
    right: 10px;

    font-size: 10px;
  }

  .edit-btn-2 {
    height: 20px;
    width: 50px;
    font-size: 10px;
  }
}
