.showcase-2 {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
}

.showcase-2 .img1 {
  height: 110%;
  width: 110%;
  object-fit: cover;
  z-index: 10;
  transition: 0.5s;
}

.showcase-2 .img2 {
  transition: 0.5s;
  width: 20%;
  height: 50%;
  position: absolute;
  top: 270px;
  left: -80px;
  z-index: 0;
}

.showcase-2 .layer {
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.907)); */
  background-color: #f9b93aad;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.showcase-2 .layer8 {
  width: 100%;
  height: 48%;
  background-image: linear-gradient(to top, transparent, #f9b83a);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.showcase-2 .company-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  z-index: 30;
  text-align: center;
}

.showcase-2 .company-detail h1 {
  color: rgb(34, 34, 34);
  font-size: 52px;
}

.showcase-2 .company-detail h2 {
  font-size: 23px;
}

.fouter-1 {
  display: flex;
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 100px;
  font-family: 'Josefin Sans', sans-serif;
}

.fouter-1 img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.fouter-1 .finner-1 {
  padding: 40px;
  border-left: 0.2px solid white;
  height: fit-content;
}

.fouter-1 .finner-1 h1 {
  color: rgb(255, 191, 0);
  font-size: 2.8rem;
}

.fouter-1 .finner-1 p {
  width: 90%;
  line-height: 28px;
}

.fouter-2 {
  display: flex;
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 100px;
  font-family: 'Josefin Sans', sans-serif;
}

.fouter-2 img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.fouter-2 .finner-2 {
  padding: 40px;
  padding-top: 0px;
  border-left: 0.2px solid white;
  height: fit-content;
  width: 50%;
}

.fouter-2 .finner-2 .finner-2-2 {
  background-color: rgb(77, 77, 77);
  width: 85%;
  margin: 0;
  padding: 15px;
  border-radius: 10px;
}

.fouter-2 .finner-2 h1 {
  color: rgb(255, 191, 0);
  font-size: 2.8rem;
}

.fouter-2 .finner-2 p {
  width: 95%;
  line-height: 28px;
}

.fouter-3 {
  display: flex;
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 100px;
  font-family: 'Josefin Sans', sans-serif;
}

.fouter-3 img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.fouter-3 .finner-3 {
  padding: 40px;
  padding-top: 0px;
  border-right: 0.2px solid white;
  height: fit-content;
  width: 50%;
}

.fouter-3 .finner-3 .finner-3-2 {
  background-color: rgb(77, 77, 77);
  width: 90%;
  margin: 0;
  padding: 15px;
  border-radius: 10px;
}

.fouter-3 .finner-3 h1 {
  color: rgb(255, 191, 0);
  font-size: 2.8rem;
}

.fouter-3 .finner-3 p {
  width: 95%;
  line-height: 28px;
}

.featuresList {
  grid-template-columns: repeat(3, 1fr) !important;
  padding: 50px;
  border-bottom: 25px solid rgb(255, 191, 0);
  /* border-top: 25px solid black; */
}
.featuresList {
  padding: 130px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 4rem;
  font-family: 'Josefin Sans', sans-serif;
}

.featuresList_content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.featuresList_content img {
  width: 64px;
  height: 64px;
}

.featuresList_content_head {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-transform: capitalize;
  color: rgb(255, 191, 0);
  margin-top: 15px;
  margin-bottom: 5px;
}

.featuresList_content_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 990px) {
  .fouter-1 {
    display: block;
    padding: 10px;
  }

  .fouter-1 img {
    width: 100%;
    height: 100%;
    margin: 20px 0px;
  }

  .fouter-1 .finner-1 {
    width: 100%;
  }

  .fouter-1 .finner-1 h1 {
    color: rgb(255, 191, 0);
    font-size: 2rem;
  }

  .fouter-1 .finner-1 p {
    width: 100%;
    line-height: 28px;
  }

  .fouter-2 {
    display: block;
    padding: 10px;
  }

  .fouter-2 img {
    width: 100%;
    height: 100%;
    margin: 20px 0px;
  }

  .fouter-2 .finner-2 {
    width: 100%;
    padding: 20px;
    border-left: 0px;
  }

  .fouter-2 .finner-2 h1 {
    color: rgb(255, 191, 0);
    font-size: 2rem;
  }

  .fouter-2 .finner-2 p {
    width: 100%;
  }

  .fouter-3 {
    display: block;
    padding: 10px;
  }

  .fouter-3 img {
    width: 100%;
    height: 100%;
    margin: 20px 0px;
  }

  .fouter-3 .finner-3 {
    width: 100%;
    padding: 20px;
    border-right: 0px;
  }

  .fouter-3 .finner-3 h1 {
    color: rgb(255, 191, 0);
    font-size: 2rem;
  }

  .fouter-3 .finner-3 p {
    width: 100%;
    line-height: 28px;
  }

  .fouter-2 .finner-2 .finner-2-2 {
    width: 100%;
  }

  .fouter-3 .finner-3 .finner-3-2 {
    width: 100%;
  }

  .featuresList {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .featuresList_content_head {
    font-size: 12px;
  }

  .featuresList_content_text {
    font-size: 10px;
  }

  .about-us {
    display: block;
    height: auto;
  }

  .about-us .para {
    width: 90%;
    padding: 20px;
    padding-top: 8%;
    padding-left: 70px;
    border-bottom: 0;
  }

  .about-us .para h2 {
    font-size: 1.3rem;
  }

  .about-us .para h3 {
    font-size: 1rem;
  }

  .about-us .para .para-1 {
    font-size: 0.7rem;
    width: 100%;
  }

  .about-us .para p:nth-child(4) {
    width: 100%;
    font-size: 0.6rem;
  }

  .about-us .about-img {
    width: 100%;
    object-fit: cover;
  }
}

.about-us3 .btn {
  border-radius: 2px;
  padding: 8px 12px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.about-us3 .card {
  background: #ffffff;
  max-width: 400px;
  margin: auto;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.396) 0px 2px 8px 0px;
  box-sizing: border-box;
  padding: 48px;
  text-align: center;
}

.about-us3 .products {
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}

.about-us3 .product {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
  width: 100%;
  margin: auto;
}
.about-us3 .product.active {
  opacity: 1;
  visibility: visible;
}

.about-us3 .product img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.about-us3 .thumbnail {
  margin: 0 0 48px;
}

.about-us3 .title {
  margin: 0 0 12px;
  color: #ffc31e;
  font-size: 24px;
  transition: 0.5s ease;
}

.description {
  margin: 0 0 48px;
}

.footer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 -12px -12px;
}

[ripple] {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
[ripple] .ripple {
  position: absolute;
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transform: scale(0);
  -webkit-animation: ripple 2s;
  animation: ripple 2s;
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}

.about-us3 .j1 {
  text-align: center;
  margin: 20px 0px;
  color: #ffc31e;
  font-family: 'Josefin Sans', sans-serif;
}

.about-us3 .j2 {
  text-align: center;
  margin: 40px 0px;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 990px) {
  .about-us3 .card {
    max-width: 80%;
    font-size: 0.8rem;
  }

  .about-us3 {
    border-bottom: 0px;
  }
}
